.container{
    margin: 0 auto;
    width: 1200px;
}
.footer{
    background-color: #2F303A;
}
.footer__text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 10px;
}
.phone--color{
    color: rgba(255, 255, 255, 0.6);
    margin-left: 0;
}
.logo--margin{
    padding-top: 60px;
}
.contacts--padding{
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    
}
.email--margin{
    margin-bottom: 10px;
}
.email--color{
    color: rgba(255, 255, 255, 0.6);
}